header {
  background-color: #ffd571;
  color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 4vh;
}

.logo {
  z-index: 100;
  width: 3rem;
  height: 2rem;
  margin-right: 0.1rem;
}

@media (max-width: 350px) {
  .title {
    font-size: 1.5rem;
  }

  .logo {
    margin-left: -4px;
    margin-right: -1px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #56556e;
  background-image: url("../img/refrigerator-truck.svg");
  background-size: 157px;
  background-position: -25px 30px;
  background-attachment: fixed;
  background-origin: padding-box;
  min-height: 100vh;
  color: white;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  background-color: #3c2946;
  padding: 1.5em;
  width: 30vw;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 27px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 6px 27px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 6px 27px -5px rgba(0, 0, 0, 0.8);
}

.form-fields {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.form-fields select {
  display: block;
  width: 100%;
  padding: 0.6rem;
  outline: none;
  appearance: none;
  background-color: white;
}
.form-fields select:focus {
  box-shadow: inset 0px 0px 0px 2px #ffd571;
}
.form-fields select:hover {
  cursor: pointer;
}

.label-fields {
  flex: 0 0 155px;
}

.input-radio {
  margin: 0 0.5rem;
  outline: none;
  color: #ffd571;
}
.input-radio:hover {
  cursor: pointer;
}
.input-radio:checked {
  color: #ffd571;
}

.input-text {
  height: 1.6rem;
  width: 100%;
  outline: none;
  padding-left: 6px;
}
.input-text:focus {
  border: 2px solid #ffd571;
}

.input-error {
  height: 1.6rem;
  width: 100%;
  outline: none;
  padding-left: 6px;
  background: #f8acac;
  border: 2px solid #ff2828;
}
.input-error::placeholder {
  color: #ff2828;
}

.container-form-size {
  display: block;
  margin: 0 4rem;
}

.form-size-disabled .title-form-center {
  color: #56556e;
}
.form-size-disabled .label-center {
  color: #56556e;
}

.form-fields-center {
  display: flex;
  margin-bottom: 1rem;
}
.form-fields-center .label-center {
  flex: 0 1 140px;
}

.title-form-center {
  margin: 0.3rem 0 0.8rem 0;
  color: #ffd571;
}

@media (max-width: 1250px) {
  .box {
    width: 40%;
  }
}
@media (max-width: 935px) {
  .box {
    width: 60%;
  }
}
@media (max-width: 620px) {
  .box {
    width: 85%;
  }

  select {
    font-size: 16px;
  }

  .input-text, .input-error {
    font-size: 16px;
    height: 2rem;
  }
}
@media (max-width: 420px) {
  .label-fields {
    flex: 0 0 100px;
  }

  .container-form-size {
    margin: 0 2rem;
  }
}
@media (max-width: 350px) {
  .box {
    width: 90%;
    padding: 1em;
  }

  .label-fields {
    flex: 0 0 80px;
  }
}
@media (max-width: 300px) {
  .box {
    width: 100%;
    height: 100vh;
  }

  .container-form-size {
    margin: 0 1.5rem;
  }

  .title-form-center {
    margin: 0.9rem 0;
  }
}
.alert {
  padding: 0.5rem;
  background: #f8acac;
  border-left: 4px solid #ff2828;
  color: #ff2828;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0.8rem;
  animation: 0.2s animation linear alternate-reverse;
  position: relative;
}

@keyframes animation {
  to {
    opacity: 0;
    top: -25px;
  }
  from {
    opacity: 1;
    top: 0;
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 2.2rem;
  height: 2.2rem;
  border: 3px double #56556e;
  border-top: 3px solid #ffd571;
  border-right: 3px solid #ffd571;
  border-radius: 50%;
  animation: 0.8s spinner infinite reverse ease-in-out;
}

@keyframes spinner {
  to {
    transform: rotate(60deg);
  }
  from {
    transform: rotate(420deg);
  }
}
.value-shipping {
  text-align: center;
  width: 100%;
  background: #56556e;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.value-total {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.box-paquete {
  display: flex;
  justify-content: space-between;
  margin: 0 0.8rem;
  margin-bottom: 0.8rem;
}
.box-paquete span {
  color: #ffd571;
  font-weight: 600;
  margin: 0.3rem 0;
}
.box-paquete p {
  font-weight: 600;
  text-transform: uppercase;
}

.box-sobre {
  display: flex;
  justify-content: space-between;
  margin: 0 0.8rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}
.box-sobre span {
  color: #ffd571;
  font-weight: 600;
  margin: 0.3rem 0;
}
.box-sobre p {
  font-weight: 600;
  text-transform: uppercase;
}

.title-medida {
  text-transform: uppercase;
  margin: 0rem 0 0.4rem 0;
}

.title-medidas {
  text-transform: uppercase;
  margin: 1.6rem 0 0.4rem 0;
}

.container-table {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background: #ffd571;
}
.table thead tr {
  text-align: left;
}
.table thead th {
  color: #3c2946;
}
.table th,
.table td {
  padding: 0.2rem 0.6rem;
}
.table tbody {
  background: #56556e;
}

@media (max-width: 376px) {
  .table {
    width: 70%;
  }
}
.button {
  background: #bbd196;
  color: black;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border-style: none;
  margin-top: 2.5rem;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 15px;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  background: #bae471;
}

.logo-button {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}

.logo-back {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  margin-bottom: 2px;
}

/*# sourceMappingURL=styles.css.map */
